@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body{
        @apply m-0 h-screen max-w-7xl w-full mx-auto border bg-background box-border px-4 py-2 relative;
    }
    *{
        @apply text-primary border-secondary;
    }
    h1{
        font-size: clamp(30px,10vw + 1rem,80px);
        @apply font-extrabold
    }
    h2{
        font-size: clamp(25px,8vw + 1rem,60px);
        @apply font-bold
    }
    h3{
        font-size: clamp(15px,6vw + 1rem ,40px);
        @apply font-semibold
    }
    p{
        font-size: clamp(10px,4vw + 1rem,20px);
    }
    input{
        font-size: clamp(10px,4vw + 1rem,20px);
        @apply bg-background border px-2 py-2 rounded-xl focus-visible:outline-none;
    }
    button{
        font-size: clamp(10px,4vw + 1rem,20px);
        @apply  rounded-xl px-4 py-3 font-semibold;
    }
    button.default{
        @apply bg-primary text-background;
    }
    button.outlined{
        @apply bg-background border border-primary;
    }
}
